body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    /* Алгоритм подсчёта размера блока */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}

/* nav */

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.nav_link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.75;
    transition: opacity .1s linear;
}

.nav_link:first-child {
    margin-left: 0px;
}

.nav_link:hover {
    opacity: 1;

}

/* Intro */

.intro {
    height: 753px;
    background: #31344e url("image/bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.intro_inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 30px;
    text-transform: uppercase;
    

}

.intro_subtitle {
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}


/* Button */

.button {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 2px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    transition: background-color .1s linear;
    text-align: center;
}

.button--red {
    background-color: #e84545;
}

.button--long {
    min-width: 280px;
}

.button--red:hover {
    background-color: #dd3434;
}


/* Features */

.features {
    display: flex;
    margin: 120px 0;
    flex-wrap: wrap;
}

.features_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 25px;
}

.features_item:nth-child(-n+3) {
    margin-bottom: 65px;
}

.features_icon {
    margin-bottom: 25px;
}

.features_title {
    margin-bottom: 22px;
    color: #2d3033;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.features_description {
    color: #6c7279;
    line-height: 1.5;
    font-size: 14px;

}

/* Portfolio */

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio_item {
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border-right: 1px solid #fff;
}

.portfolio_image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.portfolio_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.portfolio_content:hover {
    opacity: 1;
}

.portfolio_title {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.portfolio_description {
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
}


/* Team */

.team {
    margin: 100px 0 70px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;

}

.team_name {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #2d3033;
    margin-bottom: 15px;
}

.team_position {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.team_description {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 27px;
}

/* Connection */

.team_connection {
    display: flex;
}

.connection_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    background-color: #fff;

    transition: background .1s linear;
}


.connection_item:hover {
    background-color: #e8ecee;
}

.connection_item:hover .connection_icon {
    fill: #000;
}

.connection_icon {
    display: block;
    fill: #c6cacc;
    height: 18px;
    transition: fill .1s linear;
}


/* Testimonials */

.testimonials {
    width: 100%;
    background-color: #53354a;
    height: 501px;
    overflow: hidden;
}

.testimonials_item {
    display: flex;
    flex-wrap: wrap;
}

.testimonials_content {
    width: 50%;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.testimonials_photo {
    width: 50%;
    height: 500px;
    position: relative;

}

.testimonials_text {
    font-family: 'Cardo', serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
    font-style: italic;
    line-height: 1.2;
    color: #fff;

}

.testimonials_name {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.test_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}


/* Download */

.download {
    margin: 90px 0;
    text-align: center;
}

.download_title {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #2d3033;
    margin-bottom: 15px;
}

.download_subtitle {
    color: #2d3033;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}


/* Footer */

.footer {
    width: 100%;
    height: 250px;
    background-color: #3a3e64;
   
}

.footer_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px 0 85px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer_text {
    color: #afb0bc;
    font-size: 14px;
}

.share {
    display: flex;
    justify-content: center;
}

.share .connection_item {
    background-color: #3a3e64;
    margin-right: 8px;
    border: 2px solid #fff;
    border-radius: 2px;
    transition: background .2s linear;
}

.share .connection_icon {
    fill: #fff;
}

.share .connection_item:hover {
    background-color: #fff;
}

.about_text {
    color: #afb0bc;
    line-height: 1.5;
    font-size: 14px;
}

.footer_copyright {
    background-color: #313454;
    padding: 30px 0;
    margin-top: -3px;
    height: auto;
}

.copyright_text {
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
    text-align: center;
}

.copyright_text span {
    color: #fff;
}

/* Burger */

.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 0;
    cursor: pointer;
}

.burger_item {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    font-size: 0;
    color: transparent;
    position: relative;

}

.burger_item:before,
.burger_item:after  {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;

}

.burger_item:before {
    top: -8px;
}

.burger_item:after {
    top: 8px;
}



/* Media */

@media (max-width: 1300px) {
    /* Work */

    .portfolio_item {
        width: 50%;
    }

    .portfolio_image {
        width: 100%;
    }
}

@media (max-width: 991px) {
    /* Intro */

    .intro_title {
        font-size: 40px;
    }

    .nav {
        display: none;
    }


    /* Burger */

    .burger {
        display: block;
    }

    /* Features */

    .features_item {
        width: 50%;
    }

    /* Team */

    .team_item {
        width: 50%;
        text-align: center;
    }

    .team_photo {
        margin-left: auto;
        margin-right: auto;
    }

    .team_connection {
        justify-content: center;
    }
    
    .team {
        margin: 80px 0;
    }

    /* Testimonials */

    .testimonials {
        display: none;
    }


}

@media (max-width: 767px) {

    /* Intro */

   .intro{
    height: auto;
    padding-bottom: 30px;
    padding-top: 130px;
   }

   .intro_title {
       font-size: 30px;
   }

   .intro_subtitle {
       font-size: 16px;
       margin-bottom: 30px;
   }

   .features_item {
    width: 100%;
    margin-bottom: 65px;
}

    .features_item:last-child {
        margin-bottom: 0;
    }
    
    .features {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    /* Works */

    .portfolio_item {
        width: 100%;
        height: 300px;
    }

    .portfolio_image {
        width: 100%;
    }

    /* Team */

    .team_item {
        width: 100%;
        text-align: center;
    }

    .team_photo {
        margin-left: auto;
        margin-right: auto;
    }

    .team_connection {
        justify-content: center;
    }

    .team {
        margin: 70px 0;
    }

    .team_item {
        margin-bottom: 0;
    }

    /* Testimonials */

    .testimonials {
        display: none;
    }

    /* Button */

    .button--long {
        max-width: 260px;
    }

    .download {
        margin: 0px 0 50px;
    }

    .download_title {
        font-size: 24px;
    }

    /* Footer */

    .footer_item {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_items {
        padding: 30px 0 0;
    }

    .footer {
        height: auto;
    }

    .footer_copyright {
        height: auto;
    }

}


@media (max-width: 415px) {
    .portfolio_image {
        height: 100%;
        min-width: 414px;
    }

    .team_connection {
        margin-bottom: 25px;
    }
}
